.smlltextblogheading {
  font-size: 1.2rem;
}

.maindiv {
  font-family: "Space Mono", monospace;
  background-color: #243447;
  /* background-color: black; */
  color: white;
  font-family: "Space Mono", monospace;
}

.sidecomponent {
  /* background-color: black; */
  color: white;
  background-color: #243447;
}

.offlinediv {
  background-color: red;
  margin: 0 auto;
  z-index: 1;
  /* left: 0; */
  top: 0;
  width: 100%;
  position: sticky;
  height: 10%;
  text-align: center;
}

.timesync {
  background-color: rgb(241, 226, 14);
  margin: 0 auto;
  z-index: 1;
  /* left: 0; */
  color: #000000;
  top: 0;
  width: 100%;
  position: sticky;
  height: 10%;
  text-align: center;
}

.onlinediv {
  background-color: green;
  margin: 0 auto;
  z-index: 1;
  /* left: 0; */
  top: 0;
  width: 100%;
  position: sticky;
  height: 10%;
  text-align: center;
  animation: swipdown 5s forwards;
}

.loadskceliton {
  height: 20px;
  box-shadow: 0 4px 10px 0 rgba(33, 33, 33, 0.15);
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}

.loadskceliton::before {
  content: "";
  display: block;
  position: absolute;
  left: -150px;
  top: 0;
  height: 100%;
  width: 150px;
  background: linear-gradient(to right,
      transparent 0%,
      #314358 10%,
      transparent 100%);
  animation: load 1s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

.commentsection {
  background-color: #243447 !important;
  color: #ffffff;
  border-color: #ffffff;
}

@keyframes load {
  from {
    left: -150px;
  }

  to {
    left: 100%;
  }
}

@keyframes swipdown {
  0% {
    opacity: 0;
    transform: translateY(-200px);
  }

  40% {
    opacity: 1;
    transform: translateY(0px);
  }

  70% {
    opacity: 1;
    transform: translateY(0px);
  }

  100% {
    opacity: 0;
    transform: translateY(-200px);
  }
}

.landingpagefooter {
  margin: 0 auto;

  left: 0;
  bottom: 0;
  width: 100%;
  position: absolute;

  height: 20%;

  text-align: center;
}

.imgcredit {
  margin-bottom: 1%;
  font-size: 1rem;
  color: #ffffff;
}

.imgcreditanchor {
  margin-bottom: 1%;
  font-size: 1rem;
}

.otherfotter {
  margin: 0 auto;

  left: 0;
  bottom: 0;
  width: 100%;
  /* position: fixed; */

  /* height: 20%; */

  text-align: center;
}

.landingpagefooterdiv {
  display: flex;
  margin-top: 2%;
}

.landingpagefooterdivitembr {
  flex: 0;
}

.landingpagefooterdivitem {
  color: #ffffff;
  flex: 0.7;
  justify-content: space-around !important;
  text-decoration: none !important;
}

.landingpagefooterdivitemlink {
  color: #dfdfdf;
  flex: 0.7;
  justify-content: space-around !important;
}

.iconsfooter {
  text-decoration: none;

  font-size: 3rem;
}

a:hover {
  text-decoration: none;
}

@media screen and (max-width: 640px) {
  .landingpagefooterdiv {
    display: flex;
    /* flex-direction: column; */
  }

  .landingpagefooterdivitembr {
    flex: 0;
  }

  .imgcredit {
    margin-bottom: 1%;
    font-size: 0.7rem;
  }

  .iconsfooter {
    font-size: 2rem;
  }
}

@media screen and (max-width: 890px) {
  .landingpagefooterdivitembr {
    flex: 0;
  }

  .landingpagefooterdiv {
    display: flex;
  }

  .imgcredit {
    margin-bottom: 1%;
    font-size: 1rem;
  }

  .imgcredit {
    margin-bottom: 1%;
    font-size: 0.7rem;
  }
}