.smlltextblogheading {
  font-size: 1.2rem;
}

.maindiv {
  font-family: "Montserrat", sans-serif;
  background-color: #243447;
  /* background-color: black; */
  color: white;
  font-family: "Montserrat", sans-serif;
}

.sidecomponent {
  /* background-color: black; */
  color: white;
  background-color: #243447;
}

.offlinediv {
  background-color: red;
  margin: 0 auto;
  z-index: 1;
  /* left: 0; */
  top: 0;
  width: 100%;
  position: sticky;
  height: 10%;
  text-align: center;
}

.timesync {
  background-color: rgb(241, 226, 14);
  margin: 0 auto;
  z-index: 1;
  /* left: 0; */
  color: #000000;
  top: 0;
  width: 100%;
  position: sticky;
  height: 10%;
  text-align: center;
}

.onlinediv {
  background-color: green;
  margin: 0 auto;
  z-index: 1;
  /* left: 0; */
  top: 0;
  width: 100%;
  position: sticky;
  height: 10%;
  text-align: center;
  animation: swipdown 5s forwards;
}

.loadskceliton {
  height: 20px;
  box-shadow: 0 4px 10px 0 rgba(33, 33, 33, 0.15);
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}

.loadskceliton::before {
  content: "";
  display: block;
  position: absolute;
  left: -150px;
  top: 0;
  height: 100%;
  width: 150px;
  background: linear-gradient(
    to right,
    transparent 0%,
    #314358 10%,
    transparent 100%
  );
  animation: load 1s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

@keyframes load {
  from {
    left: -150px;
  }
  to {
    left: 100%;
  }
}

@keyframes swipdown {
  0% {
    opacity: 0;
    transform: translateY(-200px);
  }

  40% {
    opacity: 1;
    transform: translateY(0px);
  }
  70% {
    opacity: 1;
    transform: translateY(0px);
  }

  100% {
    opacity: 0;
    transform: translateY(-200px);
  }
}
