.landingpagefooter {
  margin: 0 auto;

  left: 0;
  bottom: 0;
  width: 100%;
  position: absolute;

  height: 20%;

  text-align: center;
}

.imgcredit {
  margin-bottom: 1%;
  font-size: 1rem;
  color: #ffffff;
}

.imgcreditanchor {
  margin-bottom: 1%;
  font-size: 1rem;
}

.otherfotter {
  margin: 0 auto;

  left: 0;
  bottom: 0;
  width: 100%;
  /* position: fixed; */

  /* height: 20%; */

  text-align: center;
}

.landingpagefooterdiv {
  display: flex;
  margin-top: 2%;
}

.landingpagefooterdivitembr {
  flex: 0;
}

.landingpagefooterdivitem {
  color: #ffffff;
  flex: 0.7;
  justify-content: space-around !important;
  text-decoration: none !important;
}

.landingpagefooterdivitemlink {
  color: #dfdfdf;
  flex: 0.7;
  justify-content: space-around !important;
}

.iconsfooter {
  text-decoration: none;

  font-size: 3rem;
}

a:hover {
  text-decoration: none;
}

@media screen and (max-width: 640px) {
  .landingpagefooterdiv {
    display: flex;
    /* flex-direction: column; */
  }
  .landingpagefooterdivitembr {
    flex: 0;
  }
  .imgcredit {
    margin-bottom: 1%;
    font-size: 0.7rem;
  }
  .iconsfooter {
    font-size: 2rem;
  }
}

@media screen and (max-width: 890px) {
  .landingpagefooterdivitembr {
    flex: 0;
  }

  .landingpagefooterdiv {
    display: flex;
  }
  .imgcredit {
    margin-bottom: 1%;
    font-size: 1rem;
  }
  .imgcredit {
    margin-bottom: 1%;
    font-size: 0.7rem;
  }
}
