* {
  /* font-family: "Montserrat", sans-serif; */
}

.partlofiodiv {
  height: 100vh;
  margin-top: 0%;
  color: #000000;
  scroll-snap-align: start;
}

a {
  text-decoration: none !important;
}

.partlofiodiv2 {
  margin-top: 5%;
  color: #000000;
}

.protlolioheading {
  color: #ffffff;
  margin: 0 auto;
  text-align: center;
  padding-top: 3%;
  /* margin-top: 3%; */
}

.githublinkicon {
  font-size: 1.5rem;
  padding-right: 0.9rem;
}

.superroot {
  /* width: 100vw; */

  /* Specifies that each element’s snap area should
       align with a 100px offset from the top edge. */

  /* Encourages scrolling to end at a snap position when the
        operation completes, if it is near a snap position */
}

.parallax {
  scroll-snap-align: start;
  /* The image used */
  /* background-image: url("./998152.jpg"); */
  font-family: "Space Mono", monospace;
  /* Set a specific height */
  height: 100vh;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallaxText {
  color: #ffffff;
  font-size: 3rem;
  /* text-align: center; */
  /* flex: 0.5 0.5; */
}

.porfolioimg {
  object-fit: cover;
  width: 100%;
  height: 182px;
}

.protfoliocardtitle {
  text-transform: uppercase;
}

.protfoliocardtext {
  color: #ffffff;
}

.protfoliocard {
  background-color: #243447 !important;
}

.bgimagenasa {
  color: #ffffff;
  font-size: 1.4rem;
}

.parallaxTextdiv {
  /* width: 90%; */
  margin-left: 10%;
  padding-top: 12%;
  /* margin-top: 10%; */
  /* display: flex; */
}
.landigpadediv2 {
  background-color: #666666;
  /* height: 100vh; */
  text-align: center;
  /* width: 100vw;  */
}
.text2 {
  padding-top: 5%;
  color: black;
  font-size: 3rem;
}

.visitblogbtn {
  color: #ffffff !important;
  margin-top: 1%;
  /* background-color: #000000 !important; */
  z-index: 20;
  /* color: #ffffff !important; */
  /* outline-color: #ffffff !important; */
}

.portcarddeck {
  margin-top: -3%;
}

@media only screen and (max-device-width: 600px) {
  .protlolioheading {
    font-size: 1.2rem;
  }
  .parallax {
    background-position-x: 28%;
    background-position-y: 19%;
    /* background-attachment: scroll; */
  }
  .visitblogbtn {
    margin-top: 18%;
    z-index: 20;
  }
  .parallaxTextdiv {
    text-align: center;
    margin-left: 0%;
    /* margin-top: 10%; */
    /* display: flex; */
  }
  .parallaxText {
    color: #ffffff;
    font-size: 2rem;
    /* text-align: center; */
    /* flex: 0.5 0.5; */
  }
}

@media screen and (max-width: 890px) {
  .visitblogbtn {
    margin-top: 8%;
    z-index: 20;
  }
  .parallaxTextdiv {
    text-align: center;
    margin-left: 0%;
    /* margin-top: 10%; */
    /* display: flex; */
  }
  .parallaxText {
    color: #ffffff;
    font-size: 2rem;
    /* text-align: center; */
    /* flex: 0.5 0.5; */
  }
}

/* @ :-moz-user-disabled */
/* at 600px
  background-position-x: 88%;
  background-position-y: 19%; */
