<footer class="border-t border-zinc-800 mt-14 pt-8 pb-12">
    <div
        class="flex justify-center items-center text-sm text-zinc-500 text-center"
    >
        <p>
            Forged <span role="img">🔨</span> by the Dark Lord Rizky, in the Fires
            <span role="img">🔥</span> of Mount Doom <span role="img">🌋</span>
        </p>
    </div>
</footer>
