<footer class="border-t border-zinc-800 mt-14 pt-8 pb-12">
    <div class="flex justify-between items-center text-sm text-zinc-500">
        <p>
            Forged <span role="img">⚒</span> by the Dark Lord Rizky, in the Fires
            <span role="img">🔥</span> of Mount Doom <span role="img">🌋</span>
        </p>
    </div>
</footer>
