---
import { Icon } from "astro-icon/components";

interface Props {
    currentPage?: string;
}

const { currentPage = "" } = Astro.props;
---

<nav class="flex flex-wrap items-center justify-between py-6 sm:py-8 mb-8 sm:mb-12 gap-y-4">
    <a
        href="/"
        class="text-zinc-100 font-medium tracking-tight hover:text-white transition-colors flex items-center blinking-cursor"
    >
        rizkyrajitha@web:~$</a
    >
    <div class="flex gap-6 text-sm text-zinc-400">
        <a
            href="/blog"
            class:list={[
                "hover:text-zinc-100 transition-colors",
                { "text-zinc-100": currentPage === "blog" },
            ]}
        >
            Blog
        </a>
        <!-- <a href="/" class="hover:text-zinc-100 transition-colors">About</a>
        <a href="/" class="hover:text-zinc-100 transition-colors">Projects</a> -->
    </div>
</nav>

<style>
    .blinking-cursor::after {
        content: "█";
        animation: blink 1.2s step-end infinite;
        font-weight: 400;
        margin-left: 0px;
        color: #fff; /* zinc-400 */
    }
    @keyframes blink {
        0%,
        100% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
    }
</style>
