---
import { Icon } from "astro-icon/components";
import BlogPostCard from "../components/unit/BlogPostCard.astro";
import BlogFooter from "./unit/BlogFooter.astro";
import Navigation from "./unit/Navigation.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("blog");
const featuredPosts = posts
    .sort(
        (a, b) =>
            new Date(b.data.publishedDate) - new Date(a.data.publishedDate),
    )
    .filter((p) => p.data.featured);
---

<Navigation currentPage="about" />

<main class="">
    <div class="animate-fade-in">
        <header class="mb-16 space-y-4">
            <div class="flex items-center justify-between gap-2">
                <h4
                    class="text-4xl md:text-4xl font-bold tracking-tight text-zinc-100 mb-1"
                >
                    Rajitha Gunathilake
                </h4>
                <div class="flex items-center gap-2">
                    <a
                        target="_blank"
                        rel="noopener noreferrer"
                        class=""
                        href="https://github.com/RizkyRajitha"
                    >
                        <Icon name="fa7-brands:github" class="w-8 h-8" />
                    </a>

                    <div class="">
                        <a
                            rel="noopener noreferrer"
                            target="_blank"
                            class=""
                            href="https://twitter.com/RizkyRajitha"
                        >
                            <Icon name="fa7-brands:twitter" class="w-8 h-8" />
                        </a>
                    </div>

                    <div class="">
                        <a
                            rel="noopener noreferrer"
                            target="_blank"
                            class=""
                            href="https://dev.to/rizkyrajitha"
                        >
                            <Icon name="fa7-brands:dev" class="w-8 h-8" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="flex items-center justify-between gap-2">
                <h4
                    class="text-xl md:text-xl font-bold tracking-tight text-zinc-100"
                >
                    DevOps Engineer
                </h4>
                <div class="flex items-center gap-2">
                    <Icon name="fa7-solid:location-dot" class="w-4 h-4" />
                    <span>Sri lanka</span>
                </div>
            </div>

            <!-- <p class="text-zinc-400 text-lg max-w-xl leading-relaxed mb-0">
                Hi visitor,
            </p>
            <p class="text-zinc-400 text-lg max-w-xl leading-relaxed mb-0">
                I'am Rajitha
            </p>
            <p class="text-zinc-400 text-lg max-w-xl leading-relaxed mb-0">
                Nice to meet you
            </p>
            <p class="text-zinc-400 text-lg max-w-xl leading-relaxed mb-0">
                I am a DevOps Engineer Based in Sri Lanka
            </p> -->
        </header>

        <div class="flex flex-col gap-12"></div>

        <div class="mb-16 space-y-4">
            <div class="flex justify-between pb-8 align-middle items-end">
                <a
                    href="/blog"
                    class="text-2xl md:text-3xl font-semibold tracking-tight text-zinc-100"
                >
                    Blog
                </a>
                <a href="/blog" class="font-bold">View All</a>
            </div>
            <div class="flex flex-col gap-12">
                {featuredPosts.map((post) => <BlogPostCard post={post} />)}
            </div>
        </div>
    </div>
</main>

<BlogFooter />
